<!--捐赠晶石-->
<section class="contribute">
    <script type="text/javascript"> 
      function toggle() {
        var con = document.getElementById("contribute");
        if (con.style.display == "none") {
          con.style.display = "block";
        } else {
          con.style.display = "none";
        }
      }
    </script> 
    <blockquote style="background-color:#F5F5F5; padding: 10px 20px 20px 10px; margin:0px" >
      <h4> 如果你觉得我的文章对你有帮助的话，捐赠一些晶石，鼓励我继续研究! </h4>
      <p></p>
      <a class="btn-contribute" onclick="toggle()" >¥ 捐赠晶石</a>
      <br>
      <div id="contribute" style="display:none;">
        <p align="center" >
        <img src="/assets/images/wechat.png" alt="微信">
        <img src="/assets/images/alipay.png" alt="支付宝">
        </p>
        <p align="center" >
          感谢所有支持我的魔法师，<a href="/contribute">点击这里查看捐赠者名单。</a>
        </p>
      </div>
    </blockquote>
</section>
